{{ define "main" }}

{{ partial "popup.html" . }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<!--=================== section start ===================-->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <h1 class="mb-4 h2">{{.Title | markdownify}}</h1>
        <ul class="list-inline d-flex align-items-center mb-4">
          <li class="list-inline-item d-flex align-items-center me-4">
            <i class="fas fa-calendar me-2"></i>
            <span data-blogtrack-date>{{ time.Format ":date_long" .PublishDate }}</span>
          </li>
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-archive me-2"></i>
            <ul class="list-inline">
              {{ range .Params.categories }}
              <li class="list-inline-item">
                <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}" class="text-default">{{. | title}}</a>
              </li>
              {{ end }}
            </ul>
          </li>
        </ul>

        <!-- show the TOC unless it's explicitly set to false -->
        <!-- {{ if (not (eq .Params.toc false)) }}
        <aside class="toc widget">
          <h2>In this article</h2>
          {{ .TableOfContents | replaceRE `href="#(.*)"` (printf `href="%s#%s"` .Page.RelPermalink "$1") | safeHTML }}
        </aside>
        {{ end }} -->

        {{ if (not (eq .Params.toc false)) }}
        <details class="table-of-content">
          <summary class="mb-0">{{with i18n "toc"}}{{.}}{{else}}Table Of Contents{{end}}</summary>
          {{ .TableOfContents | replaceRE `href="#(.*)"` (printf `href="%s#%s"` .Page.RelPermalink "$1") | safeHTML }}
        </details>
        {{ end }}

        <div class="content" data-blogtrack-text>{{.Content}}</div>

        {{ $authors := .Params.authors | default slice }}
        {{ range $index, $authorID := $authors }}
          {{ $author := index $.Site.Data.authors $authorID }}
          {{ partial "author-blurb.html" $author }}
          {{ if ne (add $index 1) (len $authors) }}
            <div style="margin-bottom: 2rem;"></div>
          {{ end }}
        {{ end }}

        <!-- disqus comments -->
        {{ if .Site.DisqusShortname }}
        <div class="border rounded p-4">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>

      <!-- sidebar widgets -->
      <aside class="col-lg-4">
        {{ partial "widgets/widget-wrapper" ( dict "Widgets" . "Params" .Params)}}
      </aside>
    </div>
  </div>
</section>
<!--=================== section end ===================-->

<!--=================== section start ===================-->
<section class="section-sm pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="h4 title-border">Recent Posts</h2>
        </div>
      </div>
    </div>

    <!-- releted post -->
    <div class="row">
      {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      {{ .Render "post" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!--=================== section end ===================-->

<!-- regular page -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}
