---
title: "reflectoring - Adding the Why to the How"
layout: splash
excerpt: "Hands-On guides and tutorials on Spring Boot, Java and software development in general -
          explaining not only how to do things, but why."
header:
  overlay_color: "#000"
  overlay_filter: "0.7"
  cta_label: "Browse Articles"
  cta_url: "/latest/"
---

<script>
  (function (m, a, i, l, e, r) {
    m['MailerLiteObject'] = e;

    function f() {
      var c = {a: arguments, q: []};
      var r = this.push(c);
      return "number" != typeof r ? r : f.bind(c.q);
    }

    f.q = f.q || [];
    m[e] = m[e] || f.bind(f.q);
    m[e].q = m[e].q || f.q;
    r = a.createElement(i);
    var _ = a.getElementsByTagName(i)[0];
    r.async = 1;
    r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
    _.parentNode.insertBefore(r, _);
  })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

  var ml_account = ml('accounts', '1580070', 'o8l2q7w6c1', 'load');
</script>

<script>
  var ml_webform_1404342 = ml_account('webforms', '1404342', 'r5r7j4', 'load');
  ml_webform_1404342('animation', 'fadeIn');
</script>

<div class="feature__wrapper">
  <div class="feature__item_full">
    <div class="archive__item">
      <div class="archive__item-body">

        <h2 class="archive__item-title">Get a Free Copy of my eBook</h2>
        <div class="archive__item-excerpt">

          <a href="/e-book/"><img alt="e-Book" src="/assets/images/book/cover_275px.png"
                                  style="float:right; margin-left: 20px"></a>
          <p>
            Frustrated with the conventional layered architecture style?
            Sign up to my mailing list to get a <strong>free copy</strong> of my eBook <a
            href="/e-book/"><strong>Get Your Hands Dirty on Clean Architecture</strong></a>.
          </p>

          <p>
            A good software architecture should keep the cost of development low over the complete
            lifetime of an application.

            This book discusses how the concepts of a <strong>Hexagonal Architecture</strong> try to
            fulfill this goal and <strong>translates them into actual code</strong> to provide
            inspiration for software developers.
          </p>

          <p>This is a time-limited offer.</p>

          <div class="clear">
            <button name="subscribe" class="button btn btn--inverse"
                    onclick="ml_webform_1404342('show')">Subscribe
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% include base_path %}

<div class="feature__wrapper">
  <div class="feature__item_half">

    <h2 class="archive__item-title">Latest Articles on Spring Boot</h2>
    <div class="archive__item-excerpt">

      <ul class="feature__list">

        {% assign spring_boot_posts = site.posts | where:"categories","spring-boot" | slice: 0,3 %}
        {% for post in spring_boot_posts %}

        <li>
          <h3><a href="{{ base }}{{ post.url }}">{{ post.title | markdownify | remove: "<p>" |
            remove: "</p>" }}</a></h3>
          <p class="archive__item-excerpt">
            {{ post.excerpt | markdownify | strip_html | truncate: 250 }}
            <a href="{{ base }}{{ post.url }}" class="btn btn--inverse">Read more</a>
          </p>
        </li>

        {% endfor %}
      </ul>

      <p><a href="/categories/spring-boot/" class="btn btn--inverse">Browse All</a></p>

    </div>

  </div>
  <div class="feature__item_half">
    <div class="archive__item">
      <div class="archive__item-body">

        <h2 class="archive__item-title">Latest Book Reviews</h2>
        <div class="archive__item-excerpt">

          <ul class="feature__list">

            {% assign book_review_posts = site.posts | where:"categories","book-review" | slice: 0,3
            %}
            {% for post in book_review_posts %}

            <li>
              <h3><a href="{{ base }}{{ post.url }}">{{ post.title | markdownify | remove: "<p>" |
                remove: "</p>" }}</a></h3>
              <p class="archive__item-excerpt">
                {{ post.excerpt | markdownify | strip_html | truncate: 250 }}
                <a href="{{ base }}{{ post.url }}" class="btn btn--inverse">Read more</a>
              </p>
            </li>

            {% endfor %}
          </ul>

          <p><a href="/categories/book-reviews/" class="btn btn--inverse">Browse All</a></p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature__wrapper">
  <div class="feature__item_full">
    <div class="archive__item">
      <div class="archive__item-body">

        <h2 class="archive__item-title">About Me</h2>
        <div class="archive__item-excerpt">
          <img alt="e-Book" src="/assets/images/tom.jpg" style="float:right; margin-left: 20px">
          <p>
            My name is Tom Hombergs. I'm a software developer, consultant, architect, coach ... .
            Whatever the role, I'm focused on getting the software ready for production.
          </p>
          <p>
            For more than a decade, I've been involved in developing software for many different
            clients across
            almost as many different industries, always with a focus on the Java and Spring
            ecosystem.
          </p>
          <p>
            I found that writing about a topic with the intention to actually let other people read
            it
            is the best way to learn. This blog is my way of diving deep into topics that I have
            stumbled over in my projects or which I just wanted to learn about.
          </p>
          <p>
            If you're interested in working with me or have any feedback about my writing, don't
            hesitate to <a href="mailto:tom@reflectoring.io">contact me</a>.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

