<div class="col-lg-12">
  <div class="p-4 border rounded-4">
    <h2 class="h4 mb-5 text-capitalize">I want to
      <span class="text-primary"> Sponsor</span> Reflectoring!
    </h2>
    <form method="POST" name="Become a Sponsor" netlify>
      <div class="form-group">
        <label for="name" class="form-label">Your name <small>*</small></label>
        <input type="text" class="form-control" name="name" id="name" placeholder="John Doe" required>
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email Address <small>*</small></label>
        <input type="email" name="email" class="form-control" id="email" placeholder="john@doe.com" required>
      </div>
      <div class="form-group">
        <label for="website" class="form-label">Website</label>
        <input type="text" class="form-control" name="website" id="website" placeholder="https://www.my-product.com">
      </div>
      <div class="form-group">
        <label for="message" class="form-label">Your message <small>*</small></label>
        <textarea class="form-control" placeholder="Which service/product can we help you grow? What are your ideas? What are your questions?" id="message"
                  name="message" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Now</button>
    </form>
  </div>
</div>
