{% if page.author.enabled != false %}

{% if page.author %}
{% assign author = site.data.authors[page.author] %}
{% else %}
{% assign author = site.data.authors['default'] %}
{% endif %}

<div class="section-row">
    <div class="post-author">
        <div class="media">
            <div class="media-left author">
                {% if author.url %}
                <a href="{{ author.url }}">
                    {% endif %}
                    <img class="circle" src="{{ author.avatar }}" alt="{{ author.name }}"/>
                    {% if author.url %}
                </a>
                {% endif %}
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <h3>{{ author.name }}</h3>
                </div>
                {% if author.bio %}
                <p>{{ author.bio }}</p>
                {% endif %}
                {% include follow-buttons.html author=author%}
            </div>
        </div>
    </div>
</div>

{% endif %}