<div class="author-image">
<img src="{{ base }}{{ author.avatar }}" alt="{{ author.name }}" width="180">
</div>
<div class="author-content" style="clear: both">
  <h3 class="author-name">
    <span itemprop="author">{{ author.name }}</span>
  </h3>

  {% if author.bio %}
  <p class="author-bio">{{ author.bio | markdownify }}</p>
  {% endif %}

  {% if author.twitter %}
  <a href="https://twitter.com/{{ author.twitter }}" class="btn btn--twitter" title="Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>
  {% endif %}

  {% if author.github %}
  <a href="https://github.com/{{ author.github }}" class="btn btn--github" title="GitHub"><i class="fa fa-fw fa-github" aria-hidden="true"></i><span> GitHub</span></a>
  {% endif %}

  {% if author.linkedin %}
  <a href="https://www.linkedin.com/in/{{ author.linkedin }}" class="btn btn--linkedin" title="LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
  {% endif %}

  {% if author.email %}
  <a href="mailto:{{ author.email }}" class="btn btn--email" title="EMail"><i class="fa fa-fw fa-at" aria-hidden="true"></i><span> EMail</span></a>
  {% endif %}

  <hr/>

</div>
