<div class="section-row">
    <div class="section-title">
        <h2>Grow as a Software Engineer in Just 5 Minutes a Week</h2>
    </div>

    <div class="below-content-container text">

        <p>Join more than 3,800 software engineers who get a free weekly email with hacks to become more productive and grow as a software engineer. Also get 50% off my software architecture book, if you want.</p>

        <p>Have a look at the <a href="/mailing-list">previous newsletters</a> to see what's coming.</p>

        <button class="btn primary-button btn-block" onclick="ml_webform_1449648('show')" style="margin-top:20px">Subscribe</button>
    </div>


</div>