<div class="section-row">
    <div class="section-title">
        <h2>Get My Book for just $5!</h2>
    </div>

    <div class="below-content-container">

    <a class="side-image" href="/get-your-hands-dirty-on-clean-architecture/"><img src="/assets/img/get-your-hands-dirty-260x336.png" width=260" alt="Get Your Hands Dirty on Clean Architecture"></a>

    <p>
        Liked this article? Subscribe to my mailing list to get notified about new content and get my eBook <a href="/e-book/"><strong>"Get Your Hands Dirty on Clean Architecture"</strong></a> for just $5!
    </p>

    <div class="buttons">
    <a onclick="ml_webform_1449648('show')" class="primary-button" >Subscribe</a>
    <a class="primary-button" href="https://www.amazon.com/gp/product/1839211962/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1839211962&linkCode=as2&tag=reflectorin0c-20&linkId=559e54b6599c4213252259df28d1d3e3">Get it at Amazon</a>
    </div>

    </div>


</div>