<div class="aside-widget hide-without-sidebar" style="margin-bottom:40px">
    <div class="section-title">
    </div>
    <div class="fineprint">

        <div class="text-center" style="padding-top:20px">
            <a href="/book/"><img src="/assets/img/get-your-hands-dirty-260x336.png" width="260" height="336" alt="Get Your Hands Dirty on Clean Architecture"></a>
        </div>

        <div style="margin-top:10px">
            <a class="primary-button btn-block" href="https://gum.co/gyhdoca">Get Your Hands Dirty</a>
            <p style="margin-top:10px" class="text">
                <i class="fa fa-star" style="color: #f8c200"></i>
                <i class="fa fa-star" style="color: #f8c200"></i>
                <i class="fa fa-star" style="color: #f8c200"></i>
                <i class="fa fa-star" style="color: #f8c200"></i>
                <i class="fa fa-star-half-o" style="color: #f8c200"></i> 149 reviews on <a href="https://www.amazon.com/gp/product/1839211962/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1839211962&linkCode=as2&tag=reflectorin0c-20&linkId=559e54b6599c4213252259df28d1d3e3">Amazon</a>
                and <a href="https://www.goodreads.com/book/show/49238827-get-your-hands-dirty-on-clean-architecture">Goodreads</a>.
            </p>
            <p style="margin-top:10px" class="text">
                Join <strong>more than 6,000</strong> readers.
            </p>
            <p style="margin-top:10px" class="text">
                <a href="#" onclick="ml_webform_1449648('show')">Subscribe</a> to my mailing list to get 50% off.
            </p>

        </div>

    </div>
</div>
