{% assign author = include.author %}

<ul class="footer-social">
    {% if author.facebook %}
    <li><a target="_blank" title="Follow me on Facebook" href="https://facebook.com/{{ author.facebook }}" class="follow-facebook"><i class="fa fa-facebook"></i></a></li>
    {% endif %}
    {% if author.linkedin %}
    <li><a target="_blank" title="Follow me on LinkedIn" href="https://www.linkedin.com/in/{{ author.linkedin }}" class="follow-linkedin"><i class="fa fa-linkedin"></i></a></li>
    {% endif %}
    {% if author.twitter %}
    <li><a target="_blank" title="Follow me on Twitter" href="https://twitter.com/{{ author.twitter }}" class="follow-twitter"><i class="fa fa-twitter"></i></a></li>
    {% endif %}
    {% if author.github %}
    <li><a target="_blank" title="Follow me on GitHub" href="https://github.com/{{ author.github }}" class="follow-github"><i class="fa fa-github"></i></a></li>
    {% endif %}
    {% if author.stackoverflow %}
    <li><a target="_blank" title="Follow me on StackOverflow" href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" class="follow-stackoverflow"><i class="fa fa-stack-overflow"></i></a></li>
    {% endif %}
    {% if author.email %}
    <li><a target="_blank" title="Drop me an email" href="mailto:{{ author.email }}" class="follow-email"><i class="fa fa-envelope"></i></a></li>
    {% endif %}
</ul>