<div id="nav">
    <!-- Main Nav -->
    <div id="nav-fixed">
        <div class="container">
            <!-- logo -->
            <div class="nav-logo">
                <a href="/" class="logo"><img src="{{ site.theme.header_logo }}" alt="Reflectoring Logo"></a>
            </div>
            <!-- /logo -->

            <!-- nav -->
            <ul class="nav-menu nav navbar-nav">
                {% for navEntry in site.data.navigation.main %}
                <li class="{{ navEntry.style }}"><a href="{{ navEntry.url }}">{{ navEntry.title }}</a></li>
                {% endfor %}
            </ul>
            <!-- /nav -->

        </div>
    </div>
    <!-- /Main Nav -->


</div>