<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = base %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
  <li><a href="https://github.com/reflectoring/reflectoring.github.io" title="View Source"><img alt="View Source" src="{{ base }}/images/GitHub-Mark-32px.png"/></a></li>
</ul>
