<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
<script src="/assets/js/anchor.js"></script>
<script src="/assets/js/subscribe.js"></script>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
{% include mailerlite.html %}

{% if page.ads.enabled != false %}
    {% include carbon.html %}
{% endif %}
