{% if page.ads.enabled != false %}
<div class="aside-widget hide-on-mobile">
    <div class="section-title">
        <h2>66% Off My eBook</h2>
    </div>
    <div class="fineprint">

        <div class="text-center" style="margin-top:10px">
            <a href="/get-your-hands-dirty-on-clean-architecture/"><img src="/assets/img/get-your-hands-dirty-260x336.png" width="260" alt="Get Your Hands Dirty on Clean Architecture"></a>
        </div>

        <p style="margin-top:10px" class="text">
        Subscribe to my Mailing List and get 66% off my eBook
        <a href="/get-your-hands-dirty-on-clean-architecture/"><strong>Get Your Hands Dirty on Clean Architecture</strong></a>.
        </p>

        <div class="text-center" style="margin-top:10px">
            <a href="#" class="primary-button btn-block" onclick="ml_webform_1449648('show')">Subscribe</a>
        </div>

    </div>
</div>
{% endif %}