{% if page.sidebar.enabled != false %}
<!-- aside -->
<div class="col-md-3">

    {% include sidebar-ad.html %}

    {% if site.data.showcase.url %}
    <div class="aside-widget">
        <div class="section-title">
            <h2>Current Reading*</h2>
        </div>
        <div class="text-center">
            <a href="{{ site.data.showcase.url }}"><img src="{{ site.data.showcase.img}}" width="260" alt="{{ site.data.showcase.alt }}"/></a>
        </div>
    </div>
    {% endif %}

    <div class="aside-widget fineprint text">
        *<strong>Affiliate Link</strong> - If you purchase an item through this link, I'll
        get a cut at no extra cost to you. If you're undecided, I usually write up a <a href="/categories/book-reviews/"><strong>review</strong></a>
        of the book once I'm through.
    </div>

</div>
<!-- /aside -->
{% endif %}