<div class="post-shares sticky-shares">
    {% if site.theme.social_share.facebook %}
    <a title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" class="share-facebook"><i class="fa fa-facebook"></i></a>
    {% endif %}
    {% if site.theme.social_share.twitter %}
    <a title="Share on Twitter" target="_blank" href="https://twitter.com/intent/tweet?via={{ site.theme.social_accounts.twitter }}&text={{ page.title }} {{ page.url | absolute_url }}" class="share-twitter"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.theme.social_share.reddit %}
    <a title="Share on Reddit" target="_blank" href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title }}" class="share-reddit"><i class="fa fa-reddit"></i></a>
    {% endif %}
    {% if site.theme.social_share.linkedin %}
    <a title="Share on LinkedIn" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url }}" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.theme.social_share.email %}
    <a title="Share via email" target="_blank" href="mailto:?subject={{ page.title }}&amp;body=Check out this site: {{ page.url | absolute_url }}." class="share-email"><i class="fa fa-envelope"></i></a>
    {% endif %}
</div>