{% if post.image.auto %}
  {% assign teaser=post.image.auto | teaser %}
  {% assign image_key = teaser | split: "/" | last | slice: 0, 4  %}
  {% assign credit_url = site.data.credits[image_key] %}
{% endif %}

{% if post.image.teaser %}
  {% assign teaser=post.image.teaser %}
{% endif %}

{% if teaser %}
  <div class="teaser-container">
  <a class="post-img" href="{{ post.url }}"><img src="{{ teaser }}" alt="Teaser Image"></a>
    {% if credit_url %}
      <a href="{{ credit_url }}" class="credit-overlay" target="_blank">Photo Credits</a>
    {% endif %}
  </div>
{% endif %}

{% assign credit_url = false %}


