@media only screen and (max-width: 991px) {
  #nav .nav-menu {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  #nav .nav-buttons {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .hide-without-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .page-header h1 {
    font-size: 28px;
  }
  .post.post-row .post-img {
    width: 100%;
    float: none;
  }
  .post.post-row .post-body {
    margin-left: 0px;
  }
  .post.post-row .post-meta {
    margin-top: 15px;
  }
  .post.post-row .post-body p {
    display: none;
  }
  .sticky-container {
    padding-left: 0px;
  }
  .post-shares {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  div.author {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  a.primary-button {
    display: block;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 425px) {
  img.pull-left {
    width: 100%;
    margin-right: 0;
  }

  img.pull-right {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display:none;
  }
}

@media only screen and (max-width: 767px) {
  .below-content-container .side-image {
    float: none;
    margin-left: 0px;
  }

  .below-content-container {
    text-align: center;
  }

  .below-content-container p {
    text-align: left;
  }

  .below-content-container a.primary-button {
    display: block;
  }

}
