<section class="page__share">
  <h4 class="page__share-title">Mailing List</h4>
  <style type="text/css">
    .signup p {
      text-transform: none;
    }

    .signup .button {
      color: #ffffff;
      background-color: #9ba1a6;
    }
  </style>
  <div class="signup">
    <form
      action="https://reflectoring.us19.list-manage.com/subscribe/post?u=11ed6e63bab4d7be9080f1b9d&amp;id=bcc3068c29"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate style="padding-bottom:0px; display:inline">
      <p>
        <img alt="Buy my Book!" src="/assets/images/book/cover_200px.png" style="float:right; margin-left: 20px"/>
        Liked this article? Subscribe to my mailing list to get notified about new content and get early access to my e-Book <strong><a href="https://leanpub.com/get-your-hands-dirty-on-clean-architecture">"Get Your Hands Dirty on Clean Architecture"</a></strong>
        for free.
        <p>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="width:300px; display:block">
        </p>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_11ed6e63bab4d7be9080f1b9d_bcc3068c29" tabindex="-1" value="">
        </div>
      </p>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="button"></div>
      <small>Read the <a href="/privacy">privacy policy</a>.</small>
    </form>
  </div>
</section>


