<nav class="toc" style="margin-bottom:10px">
  <header><h4 class="nav__title"><i class="fa fa-envelope"></i> Mailing List</h4></header>
  <style type="text/css">
    .signup_sidebar {
      font-size: .75em;
      padding: 5px;
    }

    .signup_sidebar p {
      text-transform: none;
    }

    .signup_sidebar .button {
      color: #ffffff;
      background-color: #9ba1a6;
      display: block;
      width: 100%;
    }
  </style>
  <div class="signup_sidebar">
    <form
      action="https://reflectoring.us19.list-manage.com/subscribe/post?u=11ed6e63bab4d7be9080f1b9d&amp;id=bcc3068c29"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate style="padding-bottom:0px">
      <p>Receive software engineering tips and tutorials directly to your inbox.</p>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                name="b_11ed6e63bab4d7be9080f1b9d_bcc3068c29"
                                                                                tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="button"></div>
    </form>
  </div>

</nav>
