<nav class="toc" style="margin-bottom:10px">
  <header><h4 class="nav__title"><i class="fa fa-book"></i> Book</h4></header>
  <style type="text/css">
    .signup_sidebar {
      font-size: .75em;
      padding: 5px;
    }

    .signup_sidebar p {
      text-transform: none;
    }

    .signup_sidebar .button {
      color: #ffffff;
      background-color: #9ba1a6;
      display: block;
      width: 100%;
    }
  </style>
  <div class="signup_sidebar">
    <form
      action="https://reflectoring.us19.list-manage.com/subscribe/post?u=11ed6e63bab4d7be9080f1b9d&amp;id=bcc3068c29"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate style="padding-bottom:0px">
      <p>Subscribe to my Mailing List and get early access to my e-Book <strong><a href="https://leanpub.com/get-your-hands-dirty-on-clean-architecture">"Get Your Hands Dirty on Clean Architecture"</a></strong>
      for free.</p>
      <p>
      <img alt="Buy my Book!" src="/assets/images/book/200x250.png" width="100%" height="100%"/>
      </p>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                name="b_11ed6e63bab4d7be9080f1b9d_bcc3068c29"
                                                                                tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                class="button">
        <p><small style="float:right">Read the <a href="/privacy">privacy policy</a>.</small></p>
      </div>

    </form>
  </div>

</nav>
