<a id="community"></a>
<div class="widget newsletter-widget">
  <div class="widget-title">
    <h3 class="title-border">Reflectoring Community</h3>
  </div>

  <p class="mb-3 small text-light-900">
    Mingle with the authors, discuss software development, and take part in community events and specials. Join the Reflectoring community in Slack.
  </p>

    <div class="col-12">
      <a class="btn btn-primary w-100" href="https://join.slack.com/t/reflectoring/shared_invite/zt-10y6wvlxx-UPy3K6imLA~9wgUFWVEpWQ">Join the Slack Community</a>
    </div>

</div>
