{{ $sticky := (cond (isset . "sticky") .sticky false) }}
{{ $stickyClass := (cond $sticky "sticky" "") }}
<a id="newsletter"></a>
<div class="widget newsletter-widget {{ $stickyClass }}">
  <div class="widget-title">
    <h3 class="title-border">Simplify<span class="highlight">!</span> Newsletter</h3>
  </div>
  <p class="mb-3 small text-light-900"><em>"You can't just <strong>keep</strong> it simple. <strong>Make</strong> it simple, then it's easy."</em></p>
  <p class="mb-3 small text-light-900">Join more than 5,000 software engineers to get <strong>exclusive productivity and growth tips</strong> directly to your inbox.</p>
  <p class="mb-3 small text-light-900"><a href="/simplify#wall-of-love">Check out the Wall of Love!</a></p>


  <div id="mlb2-3734881" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-3734881">
    <div class="ml-form-align-left">
      <div class="ml-form-embedWrapper embedForm">
        <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
          <div class="ml-form-embedContent" style="margin-bottom:0"></div>
          <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/w9o8j7" data-code="w9o8j7" method="post" target="_blank">
            <div class="ml-form-formContent">
              <div class="ml-form-fieldRow ml-last-item">
                <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                  <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Enter your email" autocomplete="email" required>
                </div>
              </div>
            </div>
            <input type="hidden" name="ml-submit" value="1">
            <div class="ml-form-embedSubmit">
              <button type="submit" class="btn btn-primary w-100 mt-2">Subscribe</button>
              <button disabled="disabled" class="btn btn-primary w-100 mt-2" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
            </div>
            <input type="hidden" name="anticsrf" value="true">
          </form>
        </div>
        <div class="ml-form-successBody row-success" style="display:none">
          <div class="ml-form-successContent">
            <h4>Thank you!</h4>
            <p>Almost done! Please check your inbox to validate your email address.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  function ml_webform_success_3734881(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-3734881 .row-success").show(),r(".ml-subscribe-form-3734881 .row-form").hide()}
</script>
  <script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>
  <p class="text-light-900 smallprint content mb-0">No spam. Your email address is safe with us. Your data will be used according to the <a href="{{`privacy`| relLangURL}}" class="text-light-900">privacy policy</a>.</p>
</div>
