<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

	<body>

	<header id="header">

		{% include nav.html %}

		<!-- Page Header -->
		<div id="post-header" class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
                        {% include category-badges.html categories=page.categories %}
						<h1 data-blogtrack-title>{{ page.title }}</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

	</header>

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" style="display:flex; flex-wrap: wrap;">
					<!-- Post content -->
					<div class="col-md-9">
						<div class="section-row sticky-container">
							<div style="display:none" data-blogtrack-date>{{ page.date }}</div>
							<div class="main-post text" data-blogtrack-text>

								{{ content }}

								{% if page.author == null or page.author == 'tom' %}
								<p>Follow me on <a href="https://twitter.com/TomHombergs">Twitter</a>, <a href="https://www.linkedin.com/in/tom-hombergs-74048777/">LinkedIn</a>, or my <a onclick="ml_webform_1449648('show')" style="cursor: pointer;">Mailing List</a> to be notified of new content.</p>
                                {% endif %}

							</div>

							{% include social-share.html %}

						</div>

						{% include author.html %}

						{% if page.ads.enabled != false %}
						  {% include below-content-ad.html %}
						{% endif %}

					</div>
					<!-- /Post content -->

					{% include sidebar.html %}

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->

		{% include footer.html %}

		{% include scripts.html %}


	</body>
</html>
