<nav class="toc" style="margin-bottom:10px">
  <header><h4 class="nav__title"><i class="fa fa-envelope"></i> Mailing List</h4></header>
  <style type="text/css">
    .signup_sidebar {
      font-size: .75em;
      padding: 15px;
    }

    .signup_sidebar p {
      text-transform: none;
    }

    .signup_sidebar .button {
      color: #ffffff;
      background-color: #9ba1a6;
      display: block;
      width: 100%;
    }
  </style>
  <div class="signup_sidebar">
      <p>Subscribe to my Mailing List and get early access to my eBook <strong><a href="/e-book/">"Get Your Hands Dirty on Clean Architecture"</a></strong>
        <strong>for free</strong>.</p>
      <p>
        <a href="/e-book/"><img alt="e-Book" src="/assets/images/book/cover_275px.png"/></a>
      </p>

      <div class="clear">
        <input type="button" value="Subscribe" name="subscribe" class="button" onclick="ml_webform_1396400('show')">
      </div>

  </div>

</nav>
